/*********************************
/**********Styling home page******
/*********************************/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Work+Sans:300,400,500,600,700&display=swap);

body 
{
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border-style:double;*/
}

/***********Styling navbar *********/

html {
  font-family: "Roboto", sans-serif;
}

li 
{
  list-style: none;
}

a 
{
  text-decoration: none;
  color:teal;
  font-weight: 500;

}

.header-top
{
  background-color: #101010;
  height:40px;
  width:100%;

}

.header-top-content
{
  max-width:80%;
  margin:0 auto;

}
select
{
  width: 10%;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding:10px;
  appearance: none;
  outline: 0;
  text-transform: none;
  text-decoration: underline;
  cursor: pointer;
  font-family: "Roboto",Arial,sans-serif;
  font-size: 14px;
  color:white;
  margin-left: 20px;

}

option
{
  color:black;
  margin: 0 10px;
}
.header 
{
  width:80%;
  margin:5px auto;

}

.header-bottom
{

  display: flex;
  align-items: center;
  width:100%; 
  justify-content:space-around;
  margin-bottom: 60px;

}

.left,.middle,.right
{
  width:33.33%;
  text-align:center;
  height: 40px;
  padding:13px;
  font-size: 14px;
  font-weight: 500;

}

.middle
{
  background-color: cadetblue;
  color:#fff;

}
.left,.right
{
background-color:#EFEFEF;
}
.navbar 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 5px;

}

.header ul li 
{
  display: inline-block;
  margin: 5px;
}

.table 
{  height:40px;
   width:50%;
  display:flex;
  justify-content:space-between;
  margin: 20px 150px;
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;

}
.table h4
{
padding: 10px;
color:teal;
font-weight: 400;

}

.title
{ 
  margin-left: 150px;
  margin-top: 0;
  font-weight: 400;

}

/**************************hamburger*****/
.hamburger 
{
  display: none;
}

.bar 
{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/******************* Styling body **************/
 
.main-container
 {
   width:100%;
   position:relative;

 }

li
{
list-style: none;

}

.products
{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    list-style-type: none;
    margin:0px auto;
    width:80%;
}

 .picture
{
  display: flex;
  border-color:#BBBCBA;
  background-color:white;

}

.picture img
{
    border-radius: 10px;
    max-width:15%;
    max-height:15%;
    justify-content: center;
    border-color:#BBBCBA;
    border-style: solid;
    border-width: 0.5px;

}

.picture-descr
{
 height: 150px;
 display:flex;
 justify-content:space-between;

}

.product-item
{
  position:relative;
  padding:5px;
  width:100%;

}


.picture h4
{
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6666666667;
    padding:10px;
    height: fit-content;
    color:#242f3c;
    text-align: center;
}
 
.fa-trash
{
position: absolute;
transform: translate(-50%, -50%);
color:#AAB8C2;
margin-left:143px;
margin-top:145px;
font-size:1.25em;
cursor: pointer;

}

.fa-heart
{
  position: absolute;
  margin-left:5px;
  margin-top:135px;
  color:#AAB8C2;
  font-size: 1.25em;
  cursor: pointer;
 
}

.heart-active 
{
color:#F73670; 
transform:scale(1.2);

}

.logo
{
  max-width: 10%;
}

.quantity
{
  margin-left:50px;
  margin-top:50px;
}

.cart-button 
{
  position: relative;
  padding:5px;
  width: 70px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  background-color:#5F9EA0;
  cursor: pointer;
  margin: 20px 10px;
  color: #fff;
}

.cart-button:hover {

  background-color: #5F9EA9;

}

.btn-plus,
.btn-moins 
{
  background:whitesmoke;
  border: none;
  font-size: 20px;
  padding: 0 10px;
  width: 50px;
  border-radius: 5px;
  height: 30px;
  line-height: 50px;
  
}

.btn-plus:hover,
.btn-moins:hover
{
  cursor:pointer;
}

.price
{
  margin-left: 40px;
  margin-top:40px;
  padding: 25px;
  height:100px;
  color:#5F9EA0;

}

.total
{
  color:#5F9EA0;
  margin-left: 75px;
  margin-top: 40px;
  padding:25px;
  height: 100px;

}

.summary-order
{
  position:absolute;
  width:250px;
  height:auto;
  margin-left: 800px;
  margin-top: -80px;
  background-color: #EFEFEF;
  padding: 10px;
  border-radius: 10px;

}

 .summary-order h4 
 {
  text-align: center;
  border-bottom: 1px solid #5F9EA0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight:400;
  margin-bottom:8px;
  color:teal;
  height:35px;

 }
.shipping
{
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin:25px 0;
  text-align: center;
  background-color: white;
  color:slategrey;
  width:auto;
  height:35px;
  padding:4px;
  border-radius: 5px;

}
.total-cost
{
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  width: auto;
  height:40px;
  padding-top:15px;
  border-top: 1px solid slategrey;

}
.total_costs h5
{
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  height:40px;
  padding-top:15px;
  border-top: 1px solid slategrey;


}
.item_total
{
  display:flex;
  align-content: space-around;

}
.item_total h5
{
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  height:40px;
  padding-top:15px;
  text-align: center;
  margin: 0 auto;

}
.item_nbr{

width:20%;
border-radius: 5px;
border-style: none;
text-align: center;
background-color:#EFEFEF;
font-size: 16px;
}
.final_price
{
  display:flex;
  justify-content:space-around;
}
.summary-order button
{
  margin: 30px 60px;
  background-color: #101010;
  width:100px;
  height:35px;
  border-radius: 5px;
  opacity:0.9;
  cursor: pointer;

}
.quantity_input
{
  background: transparent;
  border-style: none;
  text-align: center;
  color: #EFEFEF;
  font-weight: 800;
  font-size:16px;
  margin:0px auto;

}
/**********************************/

.footer-content
{
  display: flex;
  justify-content:center;
  width:80%;
  margin:30px auto;

}

footer
{
  background-color:#EFEFEF;
  width:100%;
  height:100px;
}

.footer-content h1
{
width:30%;
font-size: 14px;
font-weight: 400;
margin-top: 30px;
line-height:20px;

}

.form 
{

  width:30%;
  display:flex;
  height:30px;
  margin-top: 30px;
  border-radius: 10px;
}

input
{
width:80%;
}

button
{
  background-color: #101010;
  color: #EFEFEF;
  width: 20%;
  border-style: none;

}
/************* styling footer******/

